/* Hyper Local Variables */

// Typography
$title-font: 'Arrr Matey';
$body-font: $sans-serif;
$base-font-size: 16px;

// Colors
$background-color: #fff;
$text-color: darken(#4b5a76, 15%);
$title-color: #4b5a76;
$link-color: #4b5a76;
$link-hover-color: lighten(#4b5a76, 15%); 